.container{
    position: relative;
    display: inline-block;
}

.container2{
    position: relative;
    display: inline-block;
}


.ipad{
    background-color: green;
    position: absolute;
    top: 2%;
    right: 2%;
}

.iphone{
    background-color: red;
    position: absolute;
    top: 2%;
    right: 2%;
}

.beats{
    background-color: green;
    position: absolute;
    top: 2%;
    right: 2%;
}

span{
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    font-size: 50px;
    color: red;

}
.container:hover span{
    visibility: visible;
}

.container2:hover span{
    visibility: visible;
}
